<footer class='w-full text-center border-t border-grey p-4 pin-b'>
      <div id="social-links" class="flex">
        <a href='{{- site.twitter -}}'>
          <span class='social-nav__icon' data-icon='ei-sc-twitter' data-size='s'></span>
        </a>
        <a href='{{- site.github -}}'>
          <span class='social-nav__icon' data-icon='ei-sc-github' data-size='s'></span>
        </a>
        <a href='mailto:{{- site.email -}}'>
          <span class='social-nav__icon' data-icon='ei-envelope' data-size='s'></span>
        </a>
      </div>
      <div id="copyright" class='u-text-center u-font-medium'>
        	<p><span>&copy; 2010-{{- site.time | date: '%Y' -}}</span> <a href="/" class="black">Scott Watermasysk</a></p>
      </div>
      <div id="feeds" class="u-text-center u-font-small">
        <p>Feeds Available:
          <a href="{{- '/feed.xml' | prepend: site.baseurl | prepend: site.url -}}">RSS</a>
          &amp;
          <a href="{{- '/feed.json' | prepend: site.baseurl | prepend: site.url -}}">JSON</a>
        </p>
      </div>
</footer>
