<footer class='w-full text-center border-t border-grey p-2 pin-b flex flex-col'>
      <div id="social-links" class="flex h-10">
      </div>
      <div id="copyright" class='u-text-center u-font-medium'>
        	<p><span>&copy; 2010-{{- site.time | date: '%Y' -}}</span> <a href="/" class="black">Scott Watermasysk</a></p>
      </div>
      <div id="feeds" class="u-text-center u-font-small">
        <p>Feeds Available:
          <a href="{{- '/feed.xml' | prepend: site.baseurl | prepend: site.url -}}">RSS</a>
          &amp;
          <a href="{{- '/feed.json' | prepend: site.baseurl | prepend: site.url -}}">JSON</a>
        </p>
      </div>
</footer>
