<header class="flex item-center align-center">
  <div id="avatar" class="w-16 lg:w-32">
    <a href="/">
      <img src="/assets/scottw.jpg" class="rounded-full h-12 w-12 lg:w-24 lg:h-24">
    </a>
  </div>
  <div class="flex flex-col pl-2 md:pl-0">
    <div class="mb-2">
    <a href="/" class="block self-center text-black text-xl md:text-2xl lg:text-3xl font-black font-headlines">
      {{- site.title -}}
    </a>
    <span>Husband, Father, Bootstrapper, Developer, Builder, Shipper.</span>
    </div>
    <nav class="">
  				<a class="text-gray-600 mr-2 md:mr-4 lg:mr-8 hover:underline" href="/about">About</a>
  				<a class="text-gray-600 mr-2 md:mr-4 lg:mr-8 hover:underline" href="/archive">Posts</a>
  				<a class="text-gray-600 mr-2 md:mr-4 lg:mr-8 hover:underline" href="/now">Now</a>
  				<a class="text-gray-600 mr-2 md:mr-4 lg:mr-8 hover:underline" href="/projects">Projects</a>
  				<a class="text-gray-600 mr-2 md:mr-4 lg:mr-8 hover:underline" href="/shorts">Shorts</a>
  	</nav>
  </div>
</header>
