<header class="flex item-center align-center">
  <div id="avatar" class="w-32">
    <a href="{{- site.baseurl -}}/">
      <img src="/assets/scottw.jpg" class="rounded-full h-12 lg:h-24">
    </a>
  </div>
  <div class="">
    <a href="{{- site.baseurl -}}/" class="self-center text-black text-3xl font-bold">
      {{- site.title -}}
    </a>
    <nav class="flex items-strech">
  			{%- for page in site.pages -%}
  			{%- if page.title and page.hide != true -%}
  				<a class="flex-1 text-grey-dark" href="{{- page.url | relative_url -}}">
  					{{- page.link_title | default: page.title -}}
  				</a>
  			{%- endif -%}
  			{%- endfor -%}
  	</nav>
  </div>
</header>
