
  <div id="previous-page">
    {%- if paginator.previous_page -%}
    <a class='pagination' href='{{- paginator.previous_page_path | prepend: site.baseurl -}}'>
      <div class='pagination__icon pagination__icon--prev' data-icon='ei-chevron-left'></div>
      <span class='pagination__text pagination__text--prev'>Previous</span>
    </a>
    {%- endif -%}
  </div>



  <div id="next-page" class='u-text-right'>
    {%- if paginator.next_page -%}
    <a class='pagination' href='{{- paginator.next_page_path | prepend: site.baseurl -}}'>
      <span class='pagination__text pagination__text--next'>Next</span>
      <div class='pagination__icon pagination__icon--next' data-icon='ei-chevron-right'></div>
    </a>
    {%- endif -%}
  </div>
