<article class="mb-10">
  <h3 class="font-semibold font-headlines">
    <a href='{{ post.url}}' class="no-underline text-black hover:underline">{{ post.title }}</a>
  </h3>

  <p>
    {{ post.content | strip_html | truncatewords:35 }}
  </p>

  <span class="text-muted text-sm text-grey">{{ post.date | date: '%b %d, %Y' }}</span>
</article>
