<a href='{{ post.url | prepend: site.baseurl }}' class='post-card {% if forloop.first == true %} post-card--first {% endif %} {% if forloop.last == true %} post-card--last {% endif %}'>
  <h3 class='post-card__title'>{{ post.title }}</h3>

  <p class='post-card__excerpt u-font-medium'>
    {{ post.content | strip_html | truncatewords:35 }}
  </p>

  <span class='post-card__date'>{{ post.date | date: '%b %d, %Y' }}</span>
</a>
