<article class="mb-10 short">
  <h3 class="font-semibold font-headlines">
    <a href='{{ post.url }}' class="no-underline text-black hover:underline">{{ post.title }}</a>
  </h3>

  {{ post.content | twitter_names}}
  {%- if post.link_url -%}
    <p>
    🔗
    <a href='{{ post.link_url }}' class="underline text-black hover:underline" target='_blank' >{{ post.link_url | truncate:60 }}</a>
    </p>
  {%- endif -%}

  <span class="text-sm text-gray-400 mt-2 block"><a class="text-gray-400" href="{{post.url}}">#</a> - {{ post.date | date: '%b %d, %Y' }}</span>
</article>
