/*------------------------------------*\
  Components > Content
\*------------------------------------*/

.content {
  a:not(.btn) {
    text-decoration: underline;
    text-decoration-skip: ink;

    @include attention() {
      color: $color-brand;
    }
  }
}

.footnotes {
  margin-top: 5px;
  border-top: 1px solid #E9EFF3;
}

.footnotes ol {
  margin-top: 20px;
}

.footnotes p {
  display: inline;
}
