<!DOCTYPE html>
<html lang='en'>

{%- include head.html -%}

<body>

  <div id="main-container">
    {%- include header.html -%}

    <div id="content">
      {{- content -}}
    </div>

    {%- include footer.html -%}
  </div>


  <script src="{{- '/assets/js/evil-icons.min.js' | prepend: site.baseurl -}}"></script>
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '5c2c898dddb5521ee9d5a4aa');
      t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
      t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>

</html>
