---
layout: default
---
<article class='post' itemscope itemtype='http://schema.org/BlogPosting'>
  <h1 class="text-xl font-bold">{{- page.title -}}</h1>
  <time datetime='{{- page.date | date_to_xmlschema -}}' itemprop='datePublished'>{{- page.date | date: '%b %d, %Y' -}}</time>

  <div class='content mt-10' itemprop='articleBody'>
    {%- include page-image.html -%}
    {{- content | twitter_names -}}

      {%- if page.link_url -%}
      <p>
      🔗
      <a href='{{ page.link_url }}' class="underline text-black hover:underline" target='_blank' >{{ page.link_url | truncate:60 }}</a>
      </p>
    {%- endif -%}
  </div>

</article>
